*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./imgs/pexels-dmitry-zvolskiy-2062426.jpg);
    width: 100%;
    background-size: cover;
    height:max-content;
    background-repeat:repeat;
    padding-bottom: 60px;
    margin-top: 200px;
}
img{
    width: 200px;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
.mainImg{
    width: 100%;
    height: 160px;
    object-fit:cover;
    border-bottom: 2px solid white;
}
#mainTitle{
    position: absolute;
    top: 10%;
    left: 0%;
    align-items: center;
    text-align: center;
    width: 100%;
    color:burlywood;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:darkorange;
}
.buttonBlock{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 50%;
}

.button{
    position: relative;
    margin: 0.5rem;
    
}
.button img{
    position: relative;
    width:177px;
    height: 63px;
    border-radius: 11px;
    border: 1px solid black;
}
.button img:hover{
    border: 2px solid red;
}
.button h2{
    position: relative;
    top: -50%;
    left: 0%;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    pointer-events:none;
}
#bAccueil{
    color: red;
}
#bSucree{
    color: blue;
}
#bSalee{
    color: brown;
}
#bContact{
    color: aqua;
}

main{
    margin: 1rem 10%;
    background-color: rgba(250, 235, 215,0.7);
    border-radius: 11px;
    padding: 2rem;
}
main h1{
    margin: 0.5rem 1rem;
    margin-bottom: 2rem;
}

main h2{
    margin: 2rem 1rem 1rem 1rem;
}

footer{
    background-color: rgb(193, 158, 128);
    width: 100%;
    height: 50px;
    vertical-align:middle;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    vertical-align:middle;
    text-align: center;
    align-items: center;
    border-top: 2px solid white;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
footer p{
    margin-left: 1rem;
    vertical-align:middle;
    text-align: center;
    align-items: center;
}
footer img{
    height: 50px;
    object-fit:contain;
}

/*Pagggggggggeee Sucrée*/
ul li{
    white-space: pre-wrap;
}
.zoneRecettes{
    
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 30px;
    width: 100%;
    height: fit-content;
}

.recettePreview{
    display: inline-flex;
    background-color:bisque;
    border-radius: 11px;
    padding: 1rem;
    margin: 1rem;
    width: 400px;
    height: fit-content;
    justify-self: center;
}
.recettePreview h3, .recettePreview ul{
    margin: 1rem;
    margin-left: 2rem;
    
}
.recettePreview h3{
    text-align: center;
}
.recettePreview img{
    width: 150px;
    height: 125px;
    image-rendering: pixelated;
    border-radius: 11px;
    align-self: center;
}
.preview{
    display: inline-flex;
}
.zoneTextPreview{
    display: block;
}


.recetteFull{
    display: none;
}
.displayRecette{
    display: block;
    width: fit-content;/*480px */
    height: fit-content;
    margin: auto + 1rem;
    z-index: 1;
}
.displayText{
    display: block;
}
.displayRecette p,.recettePreview h3,.recettePreview ol li,.recetteFull.displayRecette{
    pointer-events:none;
}


/*Pagggggggggeee Contact*/
form{
    margin: 2rem;
}
form label{
    margin: 2rem 0rem 1rem 2rem;
    font-weight: bolder;
}
form input{
    width: 70%;
    height: 2rem;
    margin: 1rem;
    border-radius: 11px;
}
#message{
    height: 7rem;
}
#submit{
    width: 4rem;
    margin: 0 50%;
}